<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>Arthur Zanetti</string>
		<key>Pais</key>
		<string>Brasil</string>
		<key>Idade</key>
		<integer>25</integer>
		<key>QtdMedalhas</key>
		<integer>1</integer>
		<key>Possui</key>
		<integer>0</integer>
		<key>index</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Cesar Cielo</string>
		<key>Pais</key>
		<string>Brasil</string>
		<key>Idade</key>
		<integer>28</integer>
		<key>QtdMedalhas</key>
		<integer>5</integer>
		<key>Possui</key>
		<integer>0</integer>
		<key>index</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Usain Bolt</string>
		<key>Pais</key>
		<string>Jamaica</string>
		<key>Idade</key>
		<integer>29</integer>
		<key>QtdMedalhas</key>
		<integer>6</integer>
		<key>Possui</key>
		<integer>0</integer>
		<key>index</key>
		<string>0</string>
	</dict>
	<dict>
		<key>equipeArray</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>atletaArray</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>olimpiadaAntigaArray</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>turismoArray</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>modalidadeArray</key>
		<array>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<dict>
		<key>missaoDiaria</key>
		<array>
			<false/>
			<false/>
			<false/>
			<false/>
		</array>
	</dict>
</array>
</plist>
